body {background: #E5E5E5; }

.e8_68 { 
	overflow:hidden;
}

.e8_68 { 
	background-color:rgba(212.4999949336052, 212.4999949336052, 212.4999949336052, 1);
	width:1440px;
	height:2544px;
	position:absolute;
}
.e8_70 { 
	color:rgba(0, 0, 0, 1);
	width:557px;
	height:29px;
	position:absolute;
	left:711px;
	top:272px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e8_71 { 
	background-color:rgba(0, 0, 0, 1);
	width:542px;
	height:2544px;
	position:absolute;
	left:1px;
	top:0px;
}
.shadow { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:320px;
	height:309px;
	position:absolute;
	left:111px;
	top:85px;
}
.foto { 
	width:320px;
	height:309px;
	border-radius:500px;
	position:absolute;
	left:111px;
	top:85px;
	background-image:url(images/th.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_74 { 
	width:436px;
	height:223px;
	position:absolute;
	left:50px;
	top:1669px;
}
.e8_75 { 
	color:rgba(255, 255, 255, 1);
	width:116px;
	height:36.657535552978516px;
	position:absolute;
	left:184px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e8_76 { 
	width:85px;
	height:36.657535552978516px;
	position:absolute;
	left:2px;
	top:108.95433807373047px;
}
.e8_77 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:36.657535552978516px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e8_78 { 
	width:157px;
	height:62.11415481567383px;
	position:absolute;
	left:5.6843418860808015e-14px;
	top:160.88584899902344px;
}
.e8_79 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:62.11415481567383px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e8_80 { 
	width:279px;
	height:100.80821990966797px;
	position:absolute;
	left:157px;
	top:94.6986312866211px;
	background-image:url(images/captura_de_tela_2022_10_04_195210_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_81 { 
	width:396px;
	height:261px;
	position:absolute;
	left:74px;
	top:1202px;
}
.e8_82 { 
	color:rgba(255, 255, 255, 1);
	width:216px;
	height:36px;
	position:absolute;
	left:94px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e8_83 { 
	width:390px;
	height:42px;
	position:absolute;
	left:3px;
	top:97px;
}
.e8_84 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:339px;
	top:0px;
}
.e8_85 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:145px;
	top:0px;
}
.e8_86 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:211px;
	top:0px;
}
.e8_87 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:276px;
	top:0px;
}
.e8_88 { 
	color:rgba(250.75000405311584, 250.75000405311584, 250.75000405311584, 1);
	width:86px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e8_89 { 
	width:393px;
	height:42px;
	position:absolute;
	left:0px;
	top:219px;
}
.e8_90 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:342px;
	top:0px;
}
.e8_91 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:148px;
	top:0px;
}
.e8_92 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:214px;
	top:0px;
}
.e8_93 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:279px;
	top:0px;
}
.e8_94 { 
	color:rgba(250.75000405311584, 250.75000405311584, 250.75000405311584, 1);
	width:77px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e8_95 { 
	width:393px;
	height:42px;
	position:absolute;
	left:3px;
	top:158px;
}
.e8_96 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:342px;
	top:0px;
}
.e8_97 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:148px;
	top:0px;
}
.e8_98 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:214px;
	top:0px;
}
.e8_99 { 
	background-color:rgba(248.62500607967377, 209.67376738786697, 5.1796844601631165, 1);
	width:51px;
	height:42px;
	position:absolute;
	left:279px;
	top:0px;
}
.e8_100 { 
	color:rgba(250.75000405311584, 250.75000405311584, 250.75000405311584, 1);
	width:77px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e8_101 { 
	color:rgba(255, 255, 255, 1);
	width:386px;
	height:203px;
	position:absolute;
	left:82px;
	top:563px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e8_102 { 
	width:812px;
	height:537px;
	position:absolute;
	left:543px;
	top:1091px;
}
.e8_103 { 
	background-color:rgba(13.81250012665987, 12.661458291113377, 12.661458291113377, 1);
	width:794px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_104 { 
	color:rgba(255, 255, 255, 1);
	width:461px;
	height:39px;
	position:absolute;
	left:31px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e8_105 { 
	color:rgba(0, 0, 0, 1);
	width:578px;
	height:34px;
	position:absolute;
	left:31px;
	top:90px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e8_106 { 
	color:rgba(0, 0, 0, 1);
	width:781px;
	height:170px;
	position:absolute;
	left:31px;
	top:135px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e8_107 { 
	color:rgba(0, 0, 0, 1);
	width:509px;
	height:34px;
	position:absolute;
	left:31px;
	top:423px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e8_108 { 
	color:rgba(0, 0, 0, 1);
	width:416px;
	height:68px;
	position:absolute;
	left:31px;
	top:469px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e8_69 { 
	color:rgba(0, 0, 0, 1);
	width:898px;
	height:58px;
	position:absolute;
	left:543px;
	top:210px;
	font-family:Cormorant Garamond;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e8_109 { 
	width:794px;
	height:357px;
	position:absolute;
	left:543px;
	top:562px;
}
.e8_110 { 
	background-color:rgba(13.81250012665987, 12.661458291113377, 12.661458291113377, 1);
	width:794px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_111 { 
	color:rgba(255, 255, 255, 1);
	width:209px;
	height:39px;
	position:absolute;
	left:31px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e8_112 { 
	color:rgba(0, 0, 0, 1);
	width:633px;
	height:34px;
	position:absolute;
	left:31px;
	top:93px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e8_113 { 
	color:rgba(0, 0, 0, 1);
	width:509px;
	height:68px;
	position:absolute;
	left:31px;
	top:135px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e8_114 { 
	color:rgba(0, 0, 0, 1);
	width:509px;
	height:34px;
	position:absolute;
	left:31px;
	top:247px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e8_115 { 
	color:rgba(0, 0, 0, 1);
	width:416px;
	height:68px;
	position:absolute;
	left:31px;
	top:289px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
